<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <body>

    <div id="content">

      <div id="picker" class="cf">

      </div>

      <div id="graphs" class="cf">

      </div>
    </div>

    <script type="text/template" id="tpl-picker">
      <div class="params">
        <label for="precision">Precision :</label>
        <select name="precision" class="precision">
          <option value="day">Day</option>
          <option value="week">Week</option>
        </select>
        <label>From :</label>
        <input type="text" class="from" />
        <label>To :</label>
        <input type="text" class="to" />
      </div>
      <div class="graphselection">
        <% for (var i in graphs) { %><p>
          <b>
          <label for="<%= i %>-f"><%= graphs[i].title %></label><input type="checkbox" id="<%= i %>-f" value="<%= i %>" /><a href="#" class="find" data-id="<%=i%>"></a>
          </b>
          </p><% } %>
      </div>
      <!-- <input type="button" class="generate" value="Generate" /> -->
    </script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/datepicker.js"></script>
    <script type="text/javascript" src="js/chart.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
  </body>
</html>